

body {
/*	font-family: Arial, Helvetica;*/
    font-family: 'Exo 2'  ;
	padding: 0;
	margin: 0;
	
	background-color:#f7f7f7;
}

header {
    padding-top: 40px;
	width: 1100px;
	height: 106px;
	background: url('imgShop/head-bg.png') no-repeat;
	/*background: url('imgShop/iShop.png') no-repeat;*/
	margin: 0 auto;
}
header .logo{
	position: relative;
	left: 102px;
	top: 3px;
}

header .phone{
	position: relative;
	left: 708px; /*1100-98-139-150*/
	top: -3px;
}

header span{
	
/*}

.ishop {*/
    text-decoration: none;
    font-size: 400%;
    
    /*color: #f2fae4;*/
	
	background: linear-gradient(#F6FCEC, #BFCCA0);
	background: -webkit-linear-gradient(#F6FCEC, #BFCCA0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	text-shadow:  2px 2px 7px rgba(0, 0, 0, 0.33);
	/*text-shadow: #bdbdbd 0 0 2px, 0 1px 0 rgba(0,0,0,0.5); *//* Свечение светло-серого цвета */
}

.header, nav, .content, footer{
	max-width: 900px;
	min-width: 500px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

nav {
	height: 52px;
	margin: -28px auto;
	border-radius: 5px;
	background: url('imgShop/menu.png') 0 0 repeat-x;
	justify-content: space-between;
}

nav ul { 
	padding-left: 6px;
	margin-top: 14px;
}

nav li{
	display: inline;
}

nav li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size:12px;
	/*font-weight: bold;*/
	padding: 18px 13px 19px;
	text-shadow: #bdbdbd 0 0 2px, 0 1px 0 rgba(0,0,0,0.5);
}

nav li a:hover{
	background: url('imgShop/menu-hover.png') 0 0 repeat-x;
}

nav  .button1{
	margin: auto 15px auto auto;
	background: white url('imgShop/scartico.png') no-repeat 9px center;
	border-radius: 15px;
	padding: 9px 10px 8px 27px;
	
	outline: none;
	font-size:12px;
    color: #839E47;
	text-decoration: none;
	border-bottom: solid 1px #677D2B;
	text-shadow: #EEE 0 0 1px, 0 1px 0 rgba(0,0,0,0.25);
}



