.scene {
	background: #CCC url('./imgCar/town.png') repeat-x;
	background-size: auto 100%;
	height: 300px;
	
	
	/*-webkit-animation: backgroundScroll 5s linear 7s;
	animation: backgroundScroll 5s linear 7s/*infinite*/;
    animation: town-scroll 8s linear ;
}

@keyframes town-scroll {
    from {background-position: 1057px 100%, 0 0;}
    to {background-position: 0 100%, 0 0;}
}

.model {
	position: absolute;
	top: 185px;
	left: 100px;

	animation: ZazGo 8s linear;
    animation-fill-mode: both;
	
}

@keyframes ZazGo {
    0% {transform: translate(0px, 0px);}
	15% {transform: translate(50px, 0px);}
    100% {transform: translate(980px, 0px);}
}

/*@-webkit-keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: -1057px 0;}
}*/
        
@keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: -1057px 0;}
}

.car {
	position: relative;
	width: 275px;
	z-index: 10;
}

.wheel1,.wheel2{
	position: absolute;
	z-index: 1;
	
	animation: wheel_rotate 8s linear;
}

.wheel1 {
	left: 40px;
	top: 57px;
}

.wheel2 {
	left: 200px;
	top: 56px;
}

@keyframes wheel_rotate {
    from {
        transform: translate(0px, 0px) rotate(2turn)
    }
    to {
        transform: translate(0px, 0px) rotate(7turn)
    }
}

.gas1,.gas2{
	position: absolute;
	z-index: 5;
	opacity:0;
}
.gas1 {
	left: -20px;
	top: 67px;
}
.gas2 {
	left: -65px;
	top: 45px;
}

.gas1{
    animation: gas-event 3s linear;
    opacity:0;
    animation-timing-function: ease-in;
    animation-delay: 0s;
	animation-iteration-count:3;
	-webkit-animation-iteration-count:3;
}
.gas2{
    animation: gas-event 3s linear;
    opacity:0;
    animation-delay: 1s;
	animation-iteration-count:3;
	-webkit-animation-iteration-count:3;
}

@keyframes gas-event {
    from{opacity:0;}
    to{opacity:1;}
}


